@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-pixel: Galmuri9, sans-serif;
  --font-sans:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  --font-serif: MaruBuri, serif;
  --default-mono-font-family: GalmuriMono9, monospace;

  --color-ciart: #619a42;

  --spacing-header-height: 4rem;
}

@utility pixelated {
  image-rendering: pixelated;
}

@utility prose-default {
  --tw-prose-body: --alpha(var(--color-black) / 80%);
  --tw-prose-headings: --alpha(var(--color-black) / 80%);
  --tw-prose-lead: var(--color-gray-600);
  --tw-prose-links: var(--color-ciart);
  --tw-prose-bold: --alpha(var(--color-black) / 80%);
  --tw-prose-counters: var(--color-gray-500);
  --tw-prose-bullets: --alpha(var(--color-black) / 50%);
  --tw-prose-hr: var(--color-gray-200);
  --tw-prose-quotes: var(--color-gray-900);
  --tw-prose-quote-borders: var(--color-gray-200);
  --tw-prose-captions: var(--color-gray-500);
  --tw-prose-kbd: var(--color-gray-900);
  --tw-prose-kbd-shadows: --alpha(var(--color-gray-900) / 10%);
  --tw-prose-code: var(--color-gray-900);
  --tw-prose-pre-code: var(--color-gray-200);
  --tw-prose-pre-bg: var(--color-gray-800);
  --tw-prose-th-borders: var(--color-gray-300);
  --tw-prose-td-borders: var(--color-gray-200);
  --tw-prose-invert-body: var(--color-gray-300);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-gray-400);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-gray-400);
  --tw-prose-invert-bullets: var(--color-gray-600);
  --tw-prose-invert-hr: var(--color-gray-700);
  --tw-prose-invert-quotes: var(--color-gray-100);
  --tw-prose-invert-quote-borders: var(--color-gray-700);
  --tw-prose-invert-captions: var(--color-gray-400);
  --tw-prose-invert-kbd: var(--color-white);
  --tw-prose-invert-kbd-shadows: --alpha(var(--color-white) / 10%);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-gray-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-gray-600);
  --tw-prose-invert-td-borders: var(--color-gray-700);
}

:root {
  --brm: 1;
  font-synthesis: none;
}

@supports (corner-shape: superellipse(var(--brm))) {
  :root {
    --brm: 1.6;
  }
}

@utility corner-smooth {
  corner-shape: superellipse(var(--brm));
}
