---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags?.includes(tag),
    );
    return {
      params: { slug: tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
---

<BaseLayout>
  {
    posts.map((post) => (
      <article>
        <h2>
          <a href={post.data.permalink}>{post.data.title}</a>
        </h2>
        <p>{post.data.description}</p>
      </article>
    ))
  }
</BaseLayout>
