---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col">
      <h1 class="text-xl font-bold">프돔</h1>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="text-sm font-bold text-black/40">Links</h2>
      <div class="flex flex-col gap-1 text-sm">
        <a class="text-ciart hover:underline" href="mailto:pdom0327@gmail.com"
          >pdom0327@gmail.com</a
        >
        <a
          class="text-ciart hover:underline"
          href="https://github.com/ciart"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >
        <a
          class="text-ciart hover:underline"
          href="https://x.com/pdooooom"
          target="_blank"
          rel="noopener noreferrer">X</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
