---
import { getCollection } from 'astro:content';
import { remark } from 'remark';
import strip from 'strip-markdown';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getPostDateText } from '../helpers/date';

const posts = await getCollection('blog');
const sortedPosts = await Promise.all(
  posts
    .filter((post) => post.data.published)
    .sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf())
    .map(async (post) => {
      if (!post.body) {
        return {
          ...post,
          description: '',
        };
      }

      const body = (
        await remark()
          .use(strip, { remove: ['image', 'heading'] })
          .process(post.body)
      ).toString();
      const description =
        body.substring(0, 150) + (body.length > 150 ? '...' : '');

      return {
        ...post,
        description,
      };
    }),
);
---

<BaseLayout>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      {
        sortedPosts.map((post) => (
          <a href={post.data.permalink}>
            <div class="mb-1 flex items-baseline justify-between">
              <h2 class="font-bold">{post.data.title}</h2>
              <p class="text-sm">{getPostDateText(post)}</p>
            </div>
            <p class="overflow-hidden text-[15px] text-ellipsis whitespace-nowrap">
              {post.description}
            </p>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
