---
import { GithubLogoIcon, XLogoIcon } from '@phosphor-icons/react';
import Container from './Container.astro';
---

<Container class="flex items-center justify-between py-8 text-white">
  <p>Copyright © 2026 Ciart. All rights reserved.</p>
  <div class="flex">
    <a class="p-1" href="https://x.com/pdooooom">
      <XLogoIcon size={24} />
    </a>
    <a class="p-1" href="https://github.com/ciart">
      <GithubLogoIcon size={24} />
    </a>
  </div>
</Container>
