---
import Container from './Container.astro';

type Props = {
  isDarkMode?: boolean;
};

const { isDarkMode } = Astro.props;
---

<Container class="flex h-header-height items-center justify-between">
  <a class="flex items-center justify-center" href="/">
    <img src="/images/logo-pixel.png" alt="Ciart" class="h-8 w-8 pixelated" />
  </a>
  <div class:list={['flex items-center text-sm', isDarkMode && 'text-white']}>
    <a class="flex px-2" href="/blog">blog</a>
    <a class="flex px-2" href="/about">about</a>
  </div>
</Container>
