---
import 'galmuri/dist/galmuri.css';
import '../styles/global.css';

import Header from '@components/Header.astro';
import Container from '@components/Container.astro';
import Footer from '@components/Footer.astro';

type Props = {
  title?: string;
  isDarkMode?: boolean;
};

const { title, isDarkMode } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - Ciart` : 'Ciart'}</title>
  </head>
  <body
    class="flex min-h-[calc(100lvh+6rem)] w-full flex-col items-center bg-ciart font-pixel"
  >
    <nav class="absolute z-50 w-full">
      <Header isDarkMode={isDarkMode} />
    </nav>
    <div id="main-background" class="w-full flex-1 bg-white corner-smooth">
      <main class="mt-header-height w-full text-black/85">
        <Container>
          <slot />
        </Container>
      </main>
    </div>
    <footer class="h-24 w-full">
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }
</style>

<script>
  const update = () => {
    const main = document.querySelector<HTMLDivElement>('#main-background');
    const footer = document.querySelector<HTMLElement>('footer');

    if (main && footer) {
      const footerRect = footer.getBoundingClientRect();
      const windowHeight = window.innerHeight;

      if (footerRect.top <= windowHeight) {
        const progress = windowHeight - footerRect.top;
        main.style.borderRadius = `calc(${(progress / 96) * 32}px * var(--brm))`;
      } else {
        main.style.borderRadius = '0px';
      }
    }
  };

  update();
  window.addEventListener('scroll', update);
</script>
